# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/captures/
*.apk
*.aab

# Node
node_modules/

# محیط و دیتابیس
backend/vps/.env
backend/vps/data/
*.db
*.db-journal
*.db-wal
*.db-shm

# متفرقه
.DS_Store
